.snipe {
    display: -webkit-box !important;
    -webkit-box-sizing: border-box !important;
    -webkit-box-pack: center !important;
    
    width: 100% !important;
    position: fixed !important;
    z-index: 999999 !important;
    top: 20px !important;
}

.snipe form {
    -webkit-border-radius: 5px !important;
    -webkit-box-sizing: border-box !important;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75) !important;
    
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 10px !important;
    display: block !important;
    
    max-width: 400px !important;
    width: 70% !important;
}

.snipe input {
    -webkit-box-sizing: border-box !important;
    
    width: 100% !important;
    font-size: 22px !important;
    border: 1px solid black !important;
    padding: 5px !important;
    margin: 0 !important;
    outline: none !important;
    display: block !important;
}

.snipe ul {
    background: rgba(255, 255, 255, 0.9) !important;
    padding: 10px !important;
    margin: 1px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.snipe ul li {
    overflow: hidden !important;
    list-style: none !important;
    font-size: 16px !important;
    color: #666 !important;
    padding-top: 10px !important;
    margin-top: 10px !important;
    border-top: 1px dotted #999 !important;
}

.snipe ul li a:link,
.snipe ul li a:visited {
    display: block !important;
    font-size: 12px !important;
    font-weight: normal !important;
    color: #4272DB !important;
    white-space: nowrap !important;
}

.snipe ul li:first-child {
    border-top: 0 !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}