<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Joseph Schmitt</string>
	<key>CFBundleDisplayName</key>
	<string>Snipe</string>
	<key>CFBundleIdentifier</key>
	<string>com.reusablebits.snipe</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.4</string>
	<key>CFBundleVersion</key>
	<string>0.4.4</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggle</string>
				<key>Identifier</key>
				<string>com.snipe.toolbar</string>
				<key>Image</key>
				<string>Icon-19.png</string>
				<key>Label</key>
				<string>Snipe</string>
				<key>Palette Label</key>
				<string>Snipe</string>
				<key>Tool Tip</key>
				<string>Snipe</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>page.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>snipe-core/js/lib.js</string>
				<string>snipe-core/js/browserdetect.js</string>
				<string>snipe-core/js/keycodes.js</string>
				<string>snipe-core/js/snipe.js</string>
				<string>snipe-core/js/sniperesults.js</string>
				<string>snipe-core/js/snipesettings.js</string>
				<string>snipe-core/js/shortcut-field.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>snipe-core/styles/styles.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Find the tab you're looking for without leaving your keyboard. Hit Ctrl+Alt+Space, type, and go!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://s3.amazonaws.com/gosnipe.in/update/update-safari.plist</string>
	<key>Website</key>
	<string>http://reusablebits.com</string>
</dict>
</plist>
