<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Joseph Schmitt</string>
	<key>CFBundleDisplayName</key>
	<string>Snipe</string>
	<key>CFBundleIdentifier</key>
	<string>com.reusablebits.snipe</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.4</string>
	<key>CFBundleVersion</key>
	<string>0.3.4</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>snipe-core/lib.js</string>
				<string>snipe-core/snipe.js</string>
				<string>snipe-core/sniperesults.js</string>
				<string>page.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>snipe-core/styles.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Quickly find the tab you're looking for without ever leaving your keyboard.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://reusablebits.com/extensions/Snipe.plist</string>
	<key>Website</key>
	<string>http://reusablebits.com</string>
</dict>
</plist>
